* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    font-size: 14px;
}

.header {
    height: 101px;
    background: linear-gradient(rgb(144,144,144) 88%, rgb(177,177,177)); /* (must be last) */
}
.container {
    border: 1px solid rgb(144,144,144);
}

#page-wrap { width: 100%; margin: 0 auto; }
/* #page-wrap > table { */
#page-wrap > div > div {
    width: 73%; 
    margin: 0 auto; 
    border-collapse: collapse;
}

.englishlink {
    color: white;
    text-decoration:none;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 520;
}

a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
}

.searchContainer {
    padding-top: 10px;
}


.floatLeft {
    float: left;
}

.floatRight {
    float: Right;
}


.clearFix:after {
    content: "";
    display: table;
    clear: both;
} 

.searchButton {
    position: relative;
    top: 0.5em; 
    left: 0.3em;
}

.searchText {
    border-radius: 0px 8px 0px 0px;
    height: 20px;
    width: 135px;
}

.pazLogo {
    display: inline-block;
    position: relative;
    bottom: 4px;
}

/* .headeLinksLine {
float: right;
} */
.homeLink {
    display: inline-block;
    position: relative;
    bottom: 70px;
    right: 150px;
    /* right: 5px; */
}

#homeImg {
    width: 17px;
    height: 17px;
    background: url("images/menu_home.png") -17px 0;
}

.headerLinks > ul > li {
    display: inline-block;
    padding-left: 15px;
}

.headerLinks > ul > li:not(:last-child)
{
    /* padding-right: 15px; */
    border-left: 2px solid rgb(169,169,169);
}

.headerLinks > ul > li:not(:first-child)
{
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
}

.headerLinks > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
}

.headerLinks > ul > li > a:first-child {
    padding-bottom: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    /* background-color: grey; */
    right: 13%;
    top: 160%;
    min-width: 120px;
    display: none;
    background: linear-gradient( rgb(177,177,177), rgb(144,144,144) 12%); /* (must be last) */
}

.dropdown-content > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    font-weight: 520;
    font-family: arial;
    border-top: 0.01em solid lightgrey;
    border-bottom: 0.01em solid lightgrey;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content > a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
}

.theFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* height: 60px; */
    background: linear-gradient( rgb(177,177,177), rgb(144,144,144) 30%); /* (must be last) */
}

.footLinkLine > ul > .footLinks {
    display: inline-block;
    padding-left: 4px;
    padding-right: 7px;
    margin-top:10px;
    margin-bottom: 10px;
}

.footLinkLine > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

.footLinks > a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 520; 
}

.footLinks > a:hover, .hesder:hover{
    color: rgb(0,92,160);
    text-decoration: underline;
}

.hesder {
    display: block;
    color: red;
    text-decoration: none;
}

.footLinkLine {
    position: relative;
    bottom: 0.1em;
    left: 1em;
}

.fbIcon {
    position: relative;
    top: 0.2em;
    right: 0.3em;
}