* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    font-size: 14px;
}

.header {
    height: 101px;
    background: linear-gradient(rgb(144,144,144) 88%, rgb(177,177,177)); /* (must be last) */
}

.container {
    border: 1px solid rgb(144,144,144);
}

#page-wrap { width: 100%; margin: 0 auto; }
#page-wrap > div > div {
    width: 73%; 
    margin: 0 auto; 
    border-collapse: collapse;
}

.englishlink {
    color: white;
    text-decoration:none;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 520;
}

a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
}

.searchContainer {
    padding-top: 10px;
}


.floatLeft {
    float: left;
}

.floatRight {
    float: Right;
}


.clearFix:after {
    content: "";
    display: table;
    clear: both;
} 

.searchButton {
    position: relative;
    top: 0.5em; 
    left: 0.3em;
}

.searchText {
    border-radius: 0px 8px 0px 0px;
    height: 20px;
    width: 135px;
}

.pazLogo {
    display: inline-block;
    position: relative;
    bottom: 4px;
}

.homeLink {
    display: inline-block;
    position: relative;
    bottom: 70px;
    right: 150px;
}

#homeImg {
    width: 17px;
    height: 17px;
    background: url("images/menu_home.png") -17px 0;
}

.headerLinks > ul > li {
    display: inline-block;
    padding-left: 15px;
}

.headerLinks > ul > li:not(:last-child)
{
    border-left: 2px solid rgb(169,169,169);
}

.headerLinks > ul > li:not(:first-child)
{
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
}

.headerLinks > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
}

.headerLinks > ul > li > a:first-child {
    padding-bottom: 5px;
}

.dropdown {
    position: relative;
    padding-bottom: 15px;
}

.dropdown-content {
    position: absolute;
    right: 13%;
    top: 95%;
    z-index: 100;
    min-width: 120px;
    display: none;
    background: linear-gradient( rgb(177,177,177), rgb(144,144,144) 12%); /* (must be last) */
}

.dropdown-content > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    font-weight: bold;
    font-family: arial;
    border-top: 0.01em solid lightgrey;
    border-bottom: 0.01em solid lightgrey;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content > a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
}

.theFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* height: 60px; */
    background: linear-gradient( rgb(177,177,177), rgb(144,144,144) 30%); /* (must be last) */
}

.footLinkLine > ul > .footLinks {
    display: inline-block;
    padding-left: 4px;
    padding-right: 7px;
    margin-top:12px;
    margin-bottom: 5px;
}

.footLinkLine > ul > li:not(:first-child) {
    border-right: 1px solid white;
}

.footLinks > a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 520; 
}

.footLinks > a:hover, .hesder:hover{
    color: rgb(0,92,160);
    text-decoration: underline;
}

.hesder {
    display: block;
    color: red;
    text-decoration: none;
}

.footLinkLine {
    position: relative;
    bottom: 0.1em;
    left: 2.5em;
}

.fbIcon {
    position: relative;
    top: 0.2em;
    right: 0.3em;
}

.topImgContainer {
    position: relative;
    text-align: right;
    color: white;
}

.topImgsCurve {
    border-radius: 0px 0px 20px 0px;
}

.overText {
    position: absolute;
    max-width: 240px;
    padding-right: 15px;
    bottom: 8px;
    right: 10px;
    background-color: rgba(120,120,120, 0.9);
    border-radius: 0px 0px 20px 0px;
}

.overText > div > nav > a {
    color: white;
}

.overText > div > nav > a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
}

.mainTable {
    margin-top: 17px;
    margin-bottom: 60px;
    border-spacing: 0.8em 1em;
}

.textLeft {
    position: relative;
    right: 155px;
    color: gray;
}

.textLeft > a {
    color: gray;
}

.textLeft > a:hover {
    color: rgb(0,92,160);
    text-decoration: underline;
}
#moreDetailsImg {
    position: relative;
    left: 18px;
}

.lowTableLine {
    height: 216px;
    width: 276px;
    border: 1px solid rgb(215,215,215);
    border-radius: 0px 20px 0px 0px;
    background: linear-gradient( rgb(255,255,255) 80%, rgb(215,215,215) ); /* (must be last) */
}

.bannerTable {
    position: relative;
    bottom: 10px;
    right: 15px;
    border-spacing: 0.8em 1.2em;
    margin: 0 auto;
}

.greyBorder {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(230,230,230);
}

.lowTableHeader {
    color: rgb(90,90,90);
}

.mapList {
    position: relative;
    bottom: 30px;
    left: 20px;
    list-style: none;
    color: grey;
    margin-bottom: 10px;
    line-height: 1.5;
}

.mapImg {
    position: relative;
    left: 10px;
}

.mapList > li:first-child > img {
    position: relative;
    right: 6px;
}

.mapLink {
    position: relative;
    bottom: 5px;
    padding-left:10px;
    text-decoration:underline;
}